html {
        scroll-behavior: smooth; /* Enables smooth scrolling */
    }
    .navbar{
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      background-color: #333;
      position: fixed;
      width: 100%;
      top: 0;
      left: 0;
      padding: 10px 0;
      z-index: 1000;
    }
    .logo{
      margin-left: 30px;
    }
    .navbar .navbar-brand{
     font-weight: 600;
     font-family: Times New Roman;
     color: #0020C2;

    }
    .navbar .navbar-nav{
      list-style: none;
      padding: 0;
      margin: 0;
      float: right;
    }
    .navbar .navbar-nav .nav-item{
      display: inline;
      position: relative;
      left: 100px;
      margin-left: 110px;
    }
    .navbar .navbar-nav .nav-item .nav-link{
      color: #0020C2;
      text-decoration: none;
      font-size: 18px;
    }
    .navbar .navbar-nav .nav-item .nav-link:hover {
      color: #f0a500;
    }
    .navbar .navbar-nav .nav-item .nav-link i{
      font-size: 15px;
    }
   .join-btn {
      background-color: #0020C2;
      color: white;
      padding: 10px 20px;
      font-size: 15px;
      font-weight: bold;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      transition: all 0.3s ease;
      margin-right: 70px;
      }
  .join-btn:hover {
      background: #ff4500;
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
      transform: translateY(-3px);
   }
  .join-btn:active {
      transform: translateY(1px);
  }
  h1 {
    font-size: 3.5rem;
    line-height: 1.2;
  }

  .text-warning {
    color: #ff9d00 !important;
  }

  .btn-outline-warning {
    border-width: 2px;
    border-color: #ff9d00;
    color: #ff9d00;
    padding: 10px 20px;
    font-size: 1rem;
  }

  .btn-outline-warning:hover {
    background-color: #ff9d00;
    color: #fff;
  }

  .Started{
    max-width: 100%;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
  }
  .card1 {
    border: none;
    border-radius: 10px;
    transition: all 0.3s ease;
    background-color: grey;
  }

  .card1:hover {
    transform: translateY(-10px);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  }

  .bas{
    position: relative;
    width: 60%;
    height: 40px;
    margin: 0 auto;
    font-size: 20px;
  }

  h2 {
    color: #333;
  }

  p {
    font-size: 0.9rem;
  }
   .icon-container {
    text-align: center;
    margin: 15px;
  }
  .icon-container i {
    font-size: 20px;
    width: 50px;
    height: 30px;
    border-radius: 5px;
    background-color: #f0a500;
    color: white;
    position: relative;
    top: -5px;
  }